@font-face {
  font-family: Gamer;
  src: url("http://farragofiction.com/CatalystsBathroomSim/audio_utils/weird_sounds/weird_video/WeirdGifs/WeirdFonts/Curse%2012.ttf");
}


/*The Harvest is Leaking Into Zampanio More And More*/
@font-face {
  font-family: gameboy;
  src: url("http://lavinraca.eyedolgames.com/TheHarvestWakes/Fonts/early-gameboy/Early%20GameBoy.ttf");
}

@font-face {
  font-family: nunito;
  src: url("Fonts/nunito/Nunito-Regular.ttf");
}

h1 {
  font-family: gameboy;
  margin-left: 120px;
}

.spoiler {
  background-color: black;
  color: black;
}

.spoiler:hover {
  color: white;
}

.subtitle {
  font-family: nunito;
  margin-left: 120px;
  font-weight: lighter;
  font-style: italic;
  margin-top: -31px;
}

body {
  background-color: rgb(237, 210, 135);
  color: black;
  margin: 0px;
  overflow: auto;
  font-size: 18px;
  background-size: 255px;
  font-family: 'nunito', sans-serif;
}

body.author-bot {
  background-color: grey;
  background-image: url(images/ab_bg.png);
  /*easter egg, its a tileable asset i made from ABs crochet doll i had a picture of in sburbsim: http://farragofiction.com/SBURBSim/images/ab_doll2.jpg*/

}

body.devil-of-spirals {
  background-color: black;
  color: white;

  ol {
    width: 50%;
  }

  li {
    margin-top: 31px;
  }

  video {
    height: 100vh;
    right: 0px;
    bottom: 0px;
    position: relative;
    display: block;
    position: fixed;
    z-index: -13;
  }
}



.fake-background {
  min-width: 100%;
  min-height: 100%;
  background-repeat: repeat;
  opacity: 0.4;
  position: fixed;
  filter: grayscale(1);
  top: 0px;
  left: 0px;
  z-index: -999;

}


#todo-pile {
  margin-top: 113px;
}

.player-name {
  font-weight: bolder;
}

.player-title {
  font-weight: bolder;
  color: red;
  text-decoration: line-through;
}

.player-wasted-title {
  font-weight: bolder;
  color: rgb(237, 210, 135);
  background-color: black;
  padding: 3px;
}

#container {


  font-family: 'nunito', sans-serif;
}

.story-beat {
  width: 1000px;
  margin-left: 113px;
  margin-right: auto;
  margin-top: 17px;
  box-shadow: 2px 2px 4px rgb(50, 37, 1);
  display: inline-block;
  padding: 16px;
  border: 3px solid black;
  border-radius: 8px;
  background-color: rgb(237, 231, 213);
  font-family: 'nunito', sans-serif;
}

button {
  cursor: pointer;
}


.tick-bar {
  position: fixed;
  left: 0px;
  top: 31px;
  display: flex;
  flex-direction: column;
  gap: 31px;

}

.tick-bar-title {
  margin-left: auto;
  margin-right: auto;
  font-family: Gamer;
  font-size: 21px;
  text-decoration: underline;
}


.tick-button {
  font-family: Gamer;
  font-size: 21px;
  border-left: none;
  background-color: rgb(237, 210, 135);
  box-shadow: 2px 2px 4px rgb(50, 37, 1);
}

.tick-once-button {
  background-color: rgb(237, 210, 135);
}

.tick-ten-button {
  background-color: rgb(201, 172, 91);
}

.tick-hundred-button {
  background-color: rgb(177, 139, 32)
}

.epilogue-stats {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
}

.player-stat-left {
  width: 75px;
  font-weight: bolder;
}

.player-epilogue-wrapper {
  border: 3px solid black;
  border-radius: 13px;
  padding: 13px;
  width: 413px;
}

.player-stat-pair {
  display: flex;
  gap: 31px;
  margin-bottom: 13px;
}

.guide-bot {
  position: fixed;
  left: -28px;
  width: 215px;
  -webkit-filter: drop-shadow(-1px -1px 13px #06FFC9);
  filter: drop-shadow(-1px -1px 13px #06FFC9);
}

@keyframes glow {

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    -webkit-filter: drop-shadow(-1px -1px 13px #06FFC9);
    filter: drop-shadow(-1px -1px 13px #06FFC9);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-filter: drop-shadow(1px 1px 13px #06FFC9);
    filter: drop-shadow(1px 1px 13px #06FFC9);
  }

}

@keyframes hover {

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translate(1px, 3px);
    -webkit-filter: drop-shadow(3px 3px 3px #06FFC9);
    filter: drop-shadow(3px 3px 3px #06FFC9);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-1px, 0px);
    -webkit-filter: drop-shadow(3px 3px 3px #06FFC9);
    filter: drop-shadow(3px 3px 3px #06FFC9);
  }

}


.sburb-container {
  width: 1000px;
  box-shadow: 2px 2px 4px rgb(50, 37, 1);
  margin-left: auto;
  margin-right: auto;
  padding: 13px;
  background-color: #c4c4c4;
  border: 3px solid black;
  border-radius: 13px;
  margin-top: 31px;

  input {
    margin-left: 13px;
    height: 25px;
  }

  .form-container {
    margin-top: 13px;
  }

  label {
    width: 333px;
    border-top: 3px dotted white;
    display: inline-block;
    padding: 3px;
    margin-bottom: 13px;
    vertical-align: top;
  }

  .button-container {
    margin: 13px;
  }

  button {
    font-family: Gamer;
    font-size: 21px;
  }
}

.ab-button {
  background-color: #B6B6B6;
  color: #0000FF;
}

.cull-button {
  background-color: black;
  color: white;
  margin-top: 31px;
}




.empty-cell {
  border: 3px solid rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  color: black;
  opacity: 0;
}


.maze {
  overflow: auto;
}

.maze-row {
  display: block;
  white-space: nowrap;
}

.maze-cell.fog-of-war {
  opacity: 50%;
}

.player-icon-holder {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.sub-story-beat {
  margin-top: 13px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
    max-height: 200px;
    max-width: 100%;
  }
}

.player-icon {
  height: 24px;
  width: 18px;

  svg {
    fill: black;
  }
}

.maze-cell {
  display: inline-block;
  width: 80px;
  height: 80px;
  padding: 10px;
  border: 3px solid #434343;
  background-color: #C4c4c4;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.9;

}

.wasted-knowledge {
  display: none;
}

.event-beat {
  margin-top: 31px;
}

.mall-render {
  overflow: auto;
  max-height: 500px;
  margin-top: 31px;
}

.empty-cell {
  opacity: 0;
}

.room-label {
  text-align: center;
  margin-top: 20px;
  text-wrap: pretty;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 10px;
}